
// @function rem($n) {
//     @return 1.66rem / 32 * $n;
// }

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@mixin _320 {
    @media (min-width:320px){
        @content;
    }
}

 /* smartphones, Android phones, landscape iPhone */
@mixin _480 {
    @media (min-width:480px){
        @content;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@mixin _801 {
    @media (min-width:801px){
        @content;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@mixin _1025 {
    @media (min-width:1025px){
        @content;
    }
}

/* big landscape tablets, laptops, and desktops */
@mixin _1281 {
    @media (min-width:1281px){
        @content;
    }
}


@mixin desktop {
    @media (min-width: 480px){
        @content;
    }
}